/* Write your CSS code here */
.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 20px 50pc 30px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .login-form-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px 80px 70px 60px;
  }
}
.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 90%;
}
@media screen and (min-width: 768px) {
  .image-container {
    width: 60%;
    align-items: center;
    justify-content: center;
  }
}
.login-website-mobile-image {
  height: 80px;
  width: 150px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .login-website-mobile-image {
    display: none;
  }
}
.login-image {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .login-image {
    height: 350px;
    width: 100%;
    padding: 20px 80px 20px 80px;
  }
}
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .login-container {
    box-shadow: 0px 4px 16px 0px #bfbfbf;
    width: 40%;
    margin-top: 0px;
    align-items: center;
  }
}
.login-website-logo-desktop-image {
  height: 80px;
  width: 150px;
  margin-bottom: 0px;
}
@media screen and (max-width: 767px) {
  .login-website-logo-desktop-image {
    display: none;
  }
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}
.login-button {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto';
  color: #ffffff;
  background-color: #0b69ff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 80%;
  margin-top: 30px;
  text-align: center;
  align-self: center;
}
.error-message {
  font-size: 14px;

  font-family: 'Roboto';
  color: #ff0b37;
  line-height: 16px;

  margin-top: 3px;

  align-self: start;
}
.user-input {
  border: 1px solid #d7dfe9;
  background-color: #e2e8f0;
  height: 40px;
  min-width: 200px;
  font-size: 18px;
  color: #64748b;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
}
